# Core functionality - changes here should be rare!
/src/app.py                   @kwakhyunjoon
/src/backend/database.py      @kwakhyunjoon
/src/backend/routers/auth.py  @kwakhyunjoon

# The frontend will need refactored soon to be more object oriented.
/src/static/   @kwakhyunjoon
